<h5>Farms List</h5>
<div class="row">
	<div class="col-md-6">
		<!-- This is the filter: by No and by Active Date -->
		<div class="form-group">
			<label for="filterDowpDown">Filter By</label>
			<select id="filterDowpDown" class="form-control"></select>
		</div>

	</div>
	<div class="col-md-6">
		<button class="btn btn-outline-danger btn-sm">Error Button</button>
	</div>
</div>
<div class="row mt-2">
	<table class="table">
		<thead>
			<tr>
				<th scope="col">Farm No</th>
				<th scope="col">Farm Name</th>
				<th scope="col">Active Date</th>
			</tr>
		</thead>
	</table>
</div>

<div class="row">
	<!-- The sf grid should be here -->
  <ng-container *ngIf="dataService.farms$ | async as farms; else loading" >
    `<ejs-grid #grid [dataSource]='farms.default' [allowPaging]="false" [allowSorting]="true"
               [allowFiltering]="false" [allowGrouping]="false" [pageSettings]='pageSettings' [allowSelection]='true' (rowSelected)='rowSelected($event)'>
                <e-columns>
                    <e-column field='Id' headerText='ID' textAlign='Center' width=50></e-column>
                    <e-column field='FarmNo' headerText='Number' width=90></e-column>
                    <e-column field='FarmName' headerText='Name' textAlign='Center' width=90></e-column>
                    <e-column field='Address' headerText='Address' textAlign='Center' width=120></e-column>
                    <e-column field='ActiveDate' headerText='Date' textAlign='Center' type="Date" format='yMd' width=120></e-column>
                </e-columns>
                </ejs-grid>`
    
    <!-- <pre>
      {{ farms.default | json }}
    </pre> -->
  </ng-container>
    <ng-template #loading>
    Loading...
  </ng-template>
</div>